@model List<WeddingPlanner.Models.Attendee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <h2>Attendees</h2>
</p>

<table id="attendees" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Role</th>
        </tr>
    </thead>

    @foreach (var attendee in Model)
    {
        <tr>
            <td>@attendee.FirstName @attendee.LastName</td>
            <td>@attendee.Email</td>
            <td>@attendee.PhoneNumber</td>
            <td>@attendee.Role.Name</td>
        </tr>
    }
</table>